*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

.nav_icons {
  display: flex;
  width: 100%; /* Full-width */
  padding:4px;
  background-color: #e1d2d2; /* Dark-grey background */
  overflow:auto; /* Overflow due to float */
  border-bottom: 4px black;
  transition: transform 0.3s ease; /* Add smooth transition */
}

.nav_icons p{
  font-size: large;
  margin-top: -15px;
}

.nav_icons .fab:hover { /* Add a hover color */
  cursor: pointer;
  transform: scale(1.2); /* Increase size on hover */
}

.fab{
  margin-left: 30px;
  text-decoration: none;
}

.fa-facebook-f{
  color:#3b5998;
}

.fa-linkedin{
  color:#0077b5;
}

.fa-youtube{
  color:#ff0000;
}
.fa-twitter{
  color:#1da1f2;
}
.fa-instagram{
  color:#833ab4;
}

nav{
    display: flex;
    margin: -25px;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav a{
    font-weight: bolder;
    text-decoration: none;
    font-size: 50px;
    color: #1a3b8e;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 20px;
}

.nav-links ul li a{
    color: rgb(48, 111, 238);
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa-solid{
  display: none;
}

.mt-3 p{
  margin-left: 300px;
}

.mt-3 .hero-btn{
  display:inline-block;
  text-decoration: none;
  color: #000000;
  margin-left: 500px;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.mt-3 .hero-btn:hover{
  border: 1px solid #f44336;
  color: #f0f2f7;
  background: #f44336;
  transition: 0.8s;
}

@media(max-width: 700px){
  .nav-links ul li{
      display: block;
      margin: 0px;
  }

  .logo1{
    font-size: 30px;
    margin: 20px 10px;
  }
  .nav-links{
      position: fixed;
      background: #e9f5ea;
      height: 100vh;
      width: 180px;
      top: 0;
      right:-200px;
      text-align: left;
      z-index: 2;
      transition: 0.8s;
  }
  nav .fa-solid{
      display: block;
      color: #f44336;
      margin: 5px;
      font-size: 20px;
      cursor: pointer;
  }
  .nav-links ul {
      padding: 10px;
  }
  .carousel-item img{
    margin-top: 10px;
  }

  .mt-3 p{
    margin:20px 20px;
    text-align: center;
  }

  .mt-3 .hero-btn{
    margin-left: 80px;
    display:inline-block;
    border: 1px solid #b13535;
    border-radius: 30px;
    margin-top: -10px;
  }

}
 
.carousel-item img{
    height: 120dvh;
    background-size: 100% 100%;
    margin-top: -40px;
}


/*----- course section-----*/
.course{
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  color: #666;
  justify-content: flex-end;
}

.course hr{
  border: none;
  height: 2px;
  background-color: black;
  margin:20px 0;
}

.row_1 .course-col{
  background-color: #eafcec;
}

.row{
  margin-top: 6%;
  display:flex;
  justify-content: space-between;
}

.course-col{
  flex-basis: 20%;
  background: #dae2f0;
  border-radius: 100px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}

@media(max-width: 700px){
  .row{
      flex-direction: column;
  }
}


/*   footer    */
.footer{
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
    background-color: #31313c;
  }

  .footer a{
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 40px;
    color: #1852e2;
  }

  .col1{
    flex-basis: 32%;
    padding: 20px 12px;
  }

  .col1 h3{
    color: #e1d2d2;
    text-decoration: underline;
  }

  .footer .abl{
    display:block;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 12px 34px;
    background:transparent;
    position: relative;
    cursor: pointer;
  }

  .footer .abl:hover{
    font-weight: 500;
    font-style: italic;
    border: 1px solid #2169e6;
    color: #f0f2f7;
    background: #2169e6;
    transition: 0.5s;
  }
  
  .fa-regular{
    color: #f44336;
  }
  

  /*---------- testimonials ------------*/
.tsml{
  width: 90%;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}
.tsml-col{
  flex-basis: 50%;
  border-radius: 10px;
  margin-bottom: 2%;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  display: flex;
  background-color: #f5f3f3;
}

.tsml-col p{
  padding: 10px;
}

.tsml-para{
  text-align: left;
}
.tsml-col h3{
  margin-top: 20px;
  text-align: left;
}
.tsml-col .fa-solid{
  color: #f44336;
}
.tsml-col .fa-regular{
  color: #f44336;
}
@media(max-width: 700px){
  .tsml-col img{
      margin-left: 0px;
      margin-right: 15px;
  }
}

/* Chatgpt testmonials  */
    .testimonial {
        background-color: #dbe8f5;
        padding: 30px;
        border-radius: 10px;
    }

    .testimonial img{
      height: 40px;
      margin-left: 5px;
      margin-right: 30px;
      border-radius: 50%;
    }

  /*--------call to action----------*/
.cta{
  margin: 60px auto;
  width: 90%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../Images/IT_company.jpg);
  background-position: center;
  border-radius: 10px;
  text-align: center;
  padding: 80px 20px;
  background-size: 100% 100%;
}
.cta h1{
  color: #db6e6e;
  margin-bottom: 40px;
  padding: 0;
}

.cta .hero-btn{
  display:inline-block;
  text-decoration: none;
  color: #000000;
  margin-left: 0px;
  color: #db6e6e;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.cta .hero-btn:hover{
  border: 1px solid #f44336;
  color: #f0f2f7;
  background: #f44336;
  transition: 0.8s;
}

@media(max-width: 700px){
  .cta h1{
      font-size: 24px;
  }
}


/*------------- about us page ------------*/
.sub-header{
  height:60vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(../Images/hyperfuse_bg.jpg);
  background-position: center;
  text-align: center;
  color: #fff;
  background-size: cover;
}
.sub-header h1{
  margin-top: 50px;
}

.sub-header a{
  color: #26a7f7;
}

.about-us{
  width: 95%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
}
.about-col{
  flex-basis: 50%;
  padding: 20px 20px;
}
.about-col img{
  width: 100%;
}
.about-col h1{
  padding-top: 0;
}
.about-col p{
  padding: 15px 0 25px;
}

.hero-btn.red-btn{
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 12px;
}
.red-btn:hover{
  color: #fff;
  background-color: #f44336;
}

 .cta_2{
  margin-left: 30px;
  margin-block: 20px;
  height: 60px;
  width: 95%;
  background-color: rgb(97, 60, 94);
  background-position: center;
  border-radius: 10px;
  text-align: center;
  padding: 80px 20px;
  background-size: 100% 100%;
}

.cta_2 .course-col{
  background: transparent;
  color: #ffffff;
  margin-top: -50px;
}

.cta_2 .course-col:hover{
  box-shadow:inherit;
}

.cta_2 p{
  color: tomato;
}

@media(max-width: 700px){
  .cta_2{
    padding-bottom: 90%;
    margin-left: 15px;
  }
}

/* Contact us page*/
.location{
  width: 95%;
  margin: auto;
  padding: 50px 0;
}
.location iframe{
  width: 100%;
}

.con-us{
  width: 80%;
  margin: auto;
}
.con-col{
  flex-basis: 48%;
  margin-bottom: 30px;
}
.con-col div{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.con-col div .fa-solid{
  font-size: 28px;
  color: #fa5656;
  margin: 10px;
  margin-right: 20px;
}
.con-col div p{
  padding: 0;
}
.con-col div h5{
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.con-col input, .con-col textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
